<!-- app/views/rewards/index.html.erb -->
<h1 class="text-2xl font-semibold mb-4">Rewards</h1>
<div>
  <%= link_to "➕ New Reward", new_reward_path, class: "inline-block mb-6 px-4 py-2 rounded-xl bg-blue-600 text-white font-medium shadow hover:bg-blue-700 transition duration-200" %>
</div>

<%= render  partial: "rewards_table", locals: { rewards: @active_rewards, title: "Active" }%>
<%= render  partial: "rewards_table", locals: { rewards: @draft_rewards, title: "Draft" }%>
<%= render  partial: "rewards_table", locals: { rewards: @scheduled_rewards, title: "Scheduled" }%>
<%= render  partial: "rewards_table", locals: { rewards: @expired_rewards, title: "Expired" }%>
