<div>Rewards</div>
<div>
  <%= link_to "+New Reward", new_reward_path %>
</div>

<%= render  partial: "rewards_table", locals: { rewards: @active_rewards, title: "Active" }%>
<%= render  partial: "rewards_table", locals: { rewards: @draft_rewards, title: "Draft" }%>
<%= render  partial: "rewards_table", locals: { rewards: @scheduled_rewards, title: "Scheduled" }%>
<%= render  partial: "rewards_table", locals: { rewards: @expired_rewards, title: "Expired" }%>
